footer{
    background-color:#0000fe;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 20px;
}

@media only screen and (max-width: 600px){
    footer{
        font-size: 0.8em;
    }
}

.footer-mail, .footer-link{
    color: white;
}

.footer-link{
    text-decoration: underline;
}